@model HomeModel;
@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo, @Model.Nome</h1>
    <p>Meu primeiro site utilizando MVC</p>
    <span>E-mail: @Model.Email</span>
</div>
